/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONT PROPORTIONS */

h1, h2, h3, h4, h5, h6 {}
h1 {	font-size: 3rem;	}
h2 {	font-size: 2.5rem;	}
h3 {	font-size: 2rem;	}
h4 {	font-size: 1.8rem;	}
h5 {	font-size: 1rem;	}
h6 {	font-size: 1.4rem	}

/* PROJECT CSS */

:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #000000;
	--light: #f8f9fa;
	--dark: #343a40;

	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

@media screen and (max-width: 1000px) {
	:root {
		font-size: 20px;
	}
}

/* HEADER */

#header-main {
	text-align: center;
	font-size: 1.3rem;
	font-family: 'Cormorant Garamond', serif;
	background-color: var(--light);
	box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
	letter-spacing: -1px;
	height: 2rem;
	padding: 1rem 0 0 1.5rem;
}

#header-main nav li {
	display: inline-block;
	margin-right: 3.5rem;
}

@media screen and (min-width: 550px) {
	#header-main nav li #envelope {
		position: absolute;
		top: 1.1rem;
		right: 3rem;
	}
}

@media screen and (max-width: 550px) {
	#header-main nav li {
		margin-right: 1rem;
	}
}

#header-main nav a,
#header-main nav a:hover,
#header-main nav a:active,
#header-main nav a:visited,
#header-main a:focus {
	color: inherit;
	text-decoration: inherit;
}

#header-main a:hover {
	border-bottom: 2px solid var(--purple);
	width: 101%;
	transition: .3s;
}

/* NAV BAR for galeries */

#peintures {
	margin: 1rem 1.25rem 1rem 1.25rem;
}

#header-peintures {
	font-size: 1rem;
	letter-spacing: -1px;
}

#peintures nav {
	margin-bottom: 1.5rem;
}

@media screen and (max-width: 550px) {
	#peintures nav {
		margin-bottom: 1rem;
	}
}

#peintures nav ul li {
	display: inline;
	margin-right: 1.25rem;
	padding: 0.2rem;
}

#peintures a {
	text-decoration: none;
	color: var(--dark);
	text-transform: uppercase;
}

#peintures a.selected {
	border-bottom: 2px solid var(--orange);
}

#article-peintures {
	text-align: justify;
}

#article-peintures .title {
	font-family: 'Cormorant Garamond', serif;
	color: var(--red);
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	background-color: var(--light);
}

#peintures p {
	font-size: 0.9rem;
	color: var(--danger);
}

#peintures p b {
	font-weight: 600;
}

#peintures .grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	margin-bottom: 1rem;
	grid-column-gap: 0.25rem;
	grid-row-gap: 0.25rem;
}

@media screen and (max-width: 500px) {
	#peintures .grid-container {
		grid-template-columns: auto;
	}
}

.grid-item {
	background-color: red;
	padding: 5rem;
  text-align: center;
}